<header class="bg-white shadow-sm sticky top-0 z-50">
        <nav class="mx-auto flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1"><a class="-m-1.5 p-1.5 cursor-pointer"
                                href="/preview/989ffb59-a43a-46b9-acee-a3225dc52032/1764577"><span
                                        class="font-['Pacifico'] text-2xl text-purple-600">logo</span></a></div>
                <div class="flex lg:hidden"><button type="button"
                                class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 cursor-pointer"><span
                                        class="sr-only">Open main menu</span><i
                                        class="ri-menu-line w-6 h-6 flex items-center justify-center"></i></button>
                </div>
                <div class="hidden lg:flex lg:gap-x-12"><a
                                class="text-sm font-semibold leading-6 text-gray-950 hover:text-purple-600 cursor-pointer" routerLink="/">Home</a><a
                                class="text-sm font-semibold leading-6 text-gray-950 hover:text-purple-600 cursor-pointer"routerLink="upcomming">upcoming</a><a
                                class="text-sm font-semibold leading-6 text-gray-950 hover:text-purple-600 cursor-pointer" routerLink="jatra-ticket">tickets</a><a
                                class="text-sm font-semibold leading-6 text-gray-950 hover:text-purple-600 cursor-pointer"routerLink="about">About</a><a
                                class="text-sm font-semibold leading-6 text-gray-950 hover:text-purple-600 cursor-pointer"routerLink="contact">Contact
                                Us</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:items-center lg:gap-x-6">
                        <a
                                class="rounded-full bg-purple-600 px-5 py-2 text-sm font-semibold text-white shadow-md hover:bg-purple-500 hover:shadow-lg transition-all duration-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600 cursor-pointer whitespace-nowrap" routerLink="register">
                                    Log In
                        </a>
                </div>

        </nav>
</header>