/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
